//
// Primary Colors
//
$colorSand-light: #FAF6ED;
$colorSand-normal: #F2EEE6;
$colorSand-dark: #D9D5CE;

//
// Basic colors
//
$colorWhite: #ffffff;
$colorGrey: #999999;
$colorTrueBlack: #000000;
$colorBlack: #333333;
$colorBlack-alt: #4D4D4D;